body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: #282c34;
  min-height: 64px;
  color: white;
  display: flex;
  align-items: center;
}

.brand {
  font-size: 24px;
  margin: 0 16px;
}

@media only screen and (max-width: 600px) {
  .brand {
    margin: 0 auto;
  }
}

main {
  flex: 1;
  display: flex;
}

.congratulations-page {
  width: 100%;
  position: relative;
}

.congratulations-page .body {
  /* display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr 1fr; */
}
.congratulations-page h1 {
  margin: 0;
  padding: 20px 0;
}

.gift-card {
  font-size: 64px;
  line-height: 1;
}

.details {
  margin-top: 40px;
}

.gift-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.gift-form input {
  padding: 5px 10px;
  text-align: center;
}

.gift-form .hint {
  margin: 0;
  margin-top: 10px;
  font-size: 10px;
}

.gift-form button {
  color: white;
  border-radius: 50px;
  padding: 10px;
  border: 0;
  margin-top: 20px;
  background-color: lightgray;
}

.gift-form button:not(:disabled) {
  background-color: deepskyblue;
}
@media only screen and (max-width: 600px) {
  .backdrop {
    height: 150px;
    width: 100%;
    background-color: #282c34;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .congratulations-page h1 {
    color: white;
  }
  .congratulations-page .body {
    background: white;
    margin: 0 20px;
    padding: 20px;
    border-radius: 30px;
  }
}

.thank-you-page {
  width: 100%;
}
.thank-you-page .title {
  font-size: 54px;
}
